## ignore python compiled files
__pycache__
*.pyc

*.pt

*.json

experiment_log.log

sophie/__pycache__
sophie/*.pyc

sophie/data_loader/__pycache__
sophie/data_loader/*.pyc

sophie/models/__pycache__
sophie/models/*.pyc

sophie/modules/__pycache__
sophie/modules/*.pyc

sophie/trainers/__pycache__
sophie/trainers/*.pyc

sophie/utils/__pycache__
sophie/utils/*.pyc

data/datasets/
data/datasets.tar.gz

save/*.pt
save/argoverse/*

evaluate/*.ipynb
evaluate/argoverse/*.ipynb

results/*
